:root {
    --global-color-value: 40, 15%;
    --box-shadow: 250, 5%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav-container {
    display: flex;
    padding: 5px 0.5rem 0.5rem;
    margin: 7px;
    margin-left: 500px;
    border-radius: 10px;
}

ul > div {
    position: relative;
    padding-top: 20px;
    height: 40px;
    width: 100px;
    bottom: -10px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 
    0px 10px 10px hsl(var(--box-shadow), 60%),
    0px 5px 5px hsl(var(--box-shadow), 50%);
    transform: scale(0.9);
    transition: bottom 0.5s, background-color 1s, transform 0.7s, box-shadow 0.5s ease;
}

/*Transitions for nav divs*/
ul > div:hover {
    bottom: 0px;
    box-shadow: none;
    background-color: hsl(var(--global-color-value), 25%);
    transform: scale(1.3, 1.2);
    box-shadow: 
    0px 10px 10px hsl(var(--box-shadow), 30%), 
    0px 5px 5px hsl(var(--box-shadow), 40%);
    transition: bottom 0.5s, background-color 0.5s, transform 0.7s, box-shadow 0.5s ease;
}

.nav-container ul {
    display: flex;
    flex-direction: row;
    gap: 20px; /*Adjust space between nav*/
}

/*Nav list text content*/
.nav-container li {
    position: relative;
    height: 40px;
    width: 100px;
    padding-top: 20px;
    bottom: 20px;
    list-style-type: none;
    text-align: center;
    color: hsl(var(--global-color-value), 30%);
    transition: color 0.5s ease; /* Transition back to default text color*/
}

.nav-container li:hover {
    position: relative;
    padding-top: 20px; /* Need this and bottom to center text and have text stay in position while adjusting height change on hover*/
    bottom: 20px;
    height: 40px;
    color: hsl(var(--global-color-value), 95%);
    transition: color 1s ease; /*Transition to lighter text color on hover*/
}

.main-container img {
    padding-left: 200px;
    width: 75%;
}

.main-container main {
    margin: 2rem 6rem;
}

header {
    width: 100%;
    height: 100px;
    background-color: hsl(var(--global-color-value), 20%);
    padding: 30px;
    box-shadow: 0px 5px 5px hsl(var(--box-shadow), 75%);
}

header h1 {
    color: white;
    text-align: center;
    text-shadow: 
    3px 3px 5px black,
    -3px 3px 5px black;
}

hr {
    width: 75%;
}

footer {
    position: relative;
    text-align: center;
}